<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <title>SUSTech Parking Lot</title>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>
  <body>
    <div id="app">
      <el-container>
        <el-header>SUSTech Parking Record</el-header>
        <el-main>
          <el-table :data="records" style="width: 100%" height="100%">
            <el-table-column
              fixed
              prop="plateNumber"
              label="License Plate Number"
              width="233"
              align="center"
            >
            </el-table-column>
            <el-table-column
              prop="entranceNumber"
              label="Entrance Number"
              width="233"
              align="center"
            >
            </el-table-column>
            <el-table-column
              prop="date"
              label="Date"
              width="120"
              align="center"
            >
            </el-table-column>
            <el-table-column
              prop="arrivalTime"
              label="Arrival Time"
              width="120"
              align="center"
              :formatter="row => row.arrivalTime || '--'"
            >
            </el-table-column>
            <el-table-column
              prop="departureTime"
              label="Departure Time"
              width="300"
              align="center"
              :formatter="row => row.departureTime || '--'"
            >
            </el-table-column>
            <el-table-column
              prop="staffName"
              label="Staff Name"
              width="120"
              align="center"
            >
            </el-table-column>
            <el-table-column
              prop="staffNumber"
              label="Staff Number"
              width="120"
              align="center"
            >
            </el-table-column>
            <el-table-column
              prop="status"
              label="Status"
              width="120"
              align="center"
            >
            </el-table-column>

            <el-table-column fixed="right" label="操作" width="120">
              <template slot-scope="scope">
                <el-button
                  @click.native.prevent="removeRecord(scope.$index)"
                  type="text"
                  size="small"
                  align="center"
                >
                  移除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-button @click="visible = true">按钮</el-button>
          <el-dialog :visible.sync="visible" title="Hello world">
            <el-form ref="form" :model="form" label-width="80px">
              <el-form-item label="活动名称">
                <el-input v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="活动区域">
                <el-select v-model="form.region" placeholder="请选择活动区域">
                  <el-option label="区域一" value="shanghai"></el-option>
                  <el-option label="区域二" value="beijing"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="活动时间">
                <el-col :span="11">
                  <el-date-picker
                    type="date"
                    placeholder="选择日期"
                    v-model="form.date1"
                    style="width: 100%;"
                  ></el-date-picker>
                </el-col>
                <el-col class="line" :span="2">-</el-col>
                <el-col :span="11">
                  <el-time-picker
                    type="fixed-time"
                    placeholder="选择时间"
                    v-model="form.date2"
                    style="width: 100%;"
                  ></el-time-picker>
                </el-col>
              </el-form-item>
              <el-form-item label="即时配送">
                <el-switch v-model="form.delivery"></el-switch>
              </el-form-item>
              <el-form-item label="活动性质">
                <el-checkbox-group v-model="form.type">
                  <el-checkbox
                    label="美食/餐厅线上活动"
                    name="type"
                  ></el-checkbox>
                  <el-checkbox label="地推活动" name="type"></el-checkbox>
                  <el-checkbox label="线下主题活动" name="type"></el-checkbox>
                  <el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="特殊资源">
                <el-radio-group v-model="form.resource">
                  <el-radio label="线上品牌商赞助"></el-radio>
                  <el-radio label="线下场地免费"></el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="活动形式">
                <el-input type="textarea" v-model="form.desc"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
                <el-button>取消</el-button>
              </el-form-item>
            </el-form>
          </el-dialog>
        </el-main>
      </el-container>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: function() {
        return {
          visible: false,
          form: {
            name: "",
            region: "",
            date1: "",
            date2: "",
            delivery: false,
            type: [],
            resource: "",
            desc: ""
          },
          records: [
            {
              plateNumber: "粤B66666",
              entranceNumber: 1,
              date: "2019.10.10",
              arrivalTime: "10:05",
              departureTime: null,
              staffName: "ZHANG Yuqun",
              staffNumber: "3001192",
              status: "In"
            },
            {
              plateNumber: "粤B12345",
              entranceNumber: 3,
              date: "2019.09.20",
              arrivalTime: "08:05",
              departureTime: "09:30",
              staffName: "ZHU Yueming",
              staffNumber: "3001219",
              status: "Out"
            }
          ]
        };
      },
      methods: {
        addRecord: function(
          plateNumber,
          entranceNumber,
          date,
          arrivalTime,
          departureTime,
          staffName,
          staffNumber,
          status
        ) {
          this.records.push({
            plateNumber,
            entranceNumber,
            date,
            arrivalTime,
            departureTime,
            staffName,
            staffNumber,
            status
          });
        },
        removeRecord(index) {
          this.records.splice(index, 1);
        }
      }
    });
  </script>
</html>
